
button {
  border-radius: 15px;
  background-color: black;
  color: white;
  width: 5rem;
  height: 1.8rem;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
}
.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 22%;
  display: inline-block;
  margin: 1rem;
  font-size: 0.8rem;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.container {
  padding: 2px 16px;
  
}